.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .wrapper {
    flex: 1 0 0;
  }
}

.serviceSummary{
  display:flex;
  margin-left:24vw ;
  flex: auto;
  flex-direction: row;
  white-space: nowrap;
}

.missionAbout{
  margin-top: 9vw;
  font-size: 2ch;
}

.introAbout{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      padding-top: 140px;
      padding-bottom: 140px;
    }
}

.approvalImg{
  height:40vw;
  width:40vw;
  margin-top:-8.7vw;
}
